on:
  [
  push,
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: "2 * * * *"

  ]
  
jobs:
  fetch_menu_job:
    runs-on: ubuntu-latest
    name: Fetches menu and updates gist
    steps:
      - name: Fetch menu step
        id: fetchMenu
        uses: ollitoivanen/OpiskelijalounasWebFetchAction@v0.8.2
        with:
          authToken: "${{ secrets.GITHUB_TOKEN }}"
